.product-count {
    height: 40px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aquamarine;

}

.container--contador{
    width:100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid hsl(30, 6%, 90%);
    border-radius: 8px;
}

.boton-sumar, .boton-restar{
    background: linear-gradient(0deg, hsl(30, 6%, 97%) , #fff);
    color: hsla(30, 6%, 19%, 1);
    height: 40px;
    width: 50%;
    border: none;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: -0.5;
    shape-rendering:geometricPrecision;
    text-rendering: optimizeLegibility;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.boton-sumar {
    border-radius: 0px 8px 8px 0px;
}
.boton-restar{
    border-radius: 8px 0px 0px 8px;
}



.contador{
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color:hsla(30, 6%, 19%, 1);
    background: linear-gradient(0deg, hsl(30, 6%, 97%) , #fff);
    border-left: 1px solid hsl(30, 6%, 90%);
    border-right: 1px solid hsl(30, 6%, 90%);
    border-radius: 0px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}