.button--primary {

    height: 48px;
    padding: 16px;
    width:50%;
    background-color: #34312e;
    color: #d2f878;
    border-radius: 8px;
    border: none;
    shape-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: -0.01em;
    text-align: left;


}

.button--primary:hover {
    background-color: #d2f878;
    color: #34312e;
    border: none;

}