.widget-container{
    height: auto;
    background-color: hsl(200, 60%, 98%);
    color: hsl(207, 93%, 46%);
    border-radius: 10px;
    border: 1px solid hsl(207, 100%, 86%);
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    font-size: 12px;
    transition: 0.2s;
    shape-rendering:geometricPrecision;
    text-rendering: optimizeLegibility;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 0em;
    padding-left: 16px;
}

img{
    margin-right:8px;
}

.cart-number{
    background-color: hsl(207, 93%, 46%);
    color: white;
    width:max-content;
    height: 40px;
    padding:16px;
    margin: 0px 0px 0px 16px;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

