.container-list{
    background-color: #fff;
    height: 81vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 24px;
    column-gap: 24px;
    justify-items: center;

}

